<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="text_to_speech.Properties.Settings.femaleVoiceConnectionString"
            connectionString="Data Source=NEUPANE;Initial Catalog=femaleVoice;Persist Security Info=True;User ID=sa;Password=neupane"
            providerName="System.Data.SqlClient" />
        <add name="text_to_speech.Properties.Settings.maleVoiceConnectionString"
            connectionString="Data Source=NEUPANE;Initial Catalog=maleVoice;Persist Security Info=True;User ID=sa;Password=neupane"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>